<footer>
  <div class="grid">
    <div class="grid__item one-half palm--one-whole">
      <h4>Made with ♥&#xFE0E; by Emily</h4>
    </div>
    <div id="socials" class="grid__item one-half palm--one-whole">
      {{>socials}}
    </div>
  </div>
</footer>