<footer>
  <div>
    Made with ♥&#xFE0E; by Emily</span>
  </div>
  <div>
    <!--
    <a href="mailto:emilymylinh@gmail.com" title="emilymylinh@gmail.com">Email</a> &nbsp;&nbsp;&nbsp; <a
      href="https://linkedin.com/in/emilymnguyen/" target="_blank" title="emilymnguyen">LinkedIn</a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/emilynguyen" target="_blank" title="emilynguyen">Github</a> -->
    <span>
      <a href="https://drive.google.com/file/d/0B6dEoGhrXuYId0g0Nm5BR1ZYbTg/view" target="_blank" title="Resume">Resume
      </a> &#8599;</span>
  </div>
</footer>