<footer class="desk--mb-4">
  <h5 class="hide back-btn opacity-hover" onclick="window.history.back()" style="display: inline-block">
    < back </h5>
      <br><br>
      <ul>

        <li>
          <h5>
            <a href="/design" title="" {{#if_eq path "design"}} class="active" {{/if_eq}}>
              Design
            </a>
          </h5>
        </li>
        <li>
          <h5>
            <a href="/dev" title="" {{#if_eq path "dev"}} class="active" {{/if_eq}}>
              Dev
            </a>
          </h5>
        </li>
        <li>
          <h5>
            <a href="" title="" class="meme-btn{{#if_eq path 'about'}}active{{/if_eq}}">
              <span class="meme-btn-text">About</span>
            </a>
          </h5>
        </li>
        <li>
          <h5>
            <a href="/contact" title="" {{#if_eq path "contact"}} class="active" {{/if_eq}}>
              Contact
            </a>
          </h5>
        </li>
      </ul>
      <br><br>
      <h5>Made with &#x2665; by Emily</h5>
      <h5 class="hide">Made with ♡ by Emily</h5>
      </div>
</footer>