<footer class="desk--mb-4">
  <h5 class="hide back-btn opacity-hover" onclick="window.history.back()" style="display: inline-block">
    < back </h5>
      <br><br>
      <ul>

        <li>

          <a href="/design" {{#if_eq path "design"}} class="active" {{/if_eq}}>
            <span></span>
            <h5 glitch="Design" class="nav-item">
              Design
            </h5>
          </a>

        </li>
        <li>

          <a href="/dev" {{#if_eq path "dev"}} class="active" {{/if_eq}}><span></span>
            <h5 glitch="Dev" class="nav-item">Dev</h5>
          </a>

        </li>
        <li>

          <a href="/about" class="meme-btn {{#if_eq path "about"}}active{{/if_eq}}"><span></span>
            <span class="meme-btn-text">
              <h5 glitch="About" class="nav-item">About</h5>
            </span>
          </a>

        </li>
        <li>

          <a href="/contact" {{#if_eq path "contact"}} class="active" {{/if_eq}}><span></span>
            <h5 glitch="Contact" class="nav-item">Contact</h5>
          </a>

        </li>
      </ul>
      <br><br>
      <h5>Made with &#x2665; by Emily</h5>
      <h5 class="hide">Made with ♡ by Emily</h5>
      </div>
</footer>