<header class="pt-3 palm--pt-2">
  <div>
    <a href="/" id="name">Emily<span class="palm--hide"> Nguyen</span></a>
  </div>
  <div>
    <nav>
      <a href="/" {{#if_eq url ""}} class="active" {{/if_eq}}>Work</a> — <a href="/about" {{#if_eq url "about"}} class="active"
        {{/if_eq}}>About</a> — <a href="https://drive.google.com/file/d/0B6dEoGhrXuYId0g0Nm5BR1ZYbTg/view" target="_blank">Resume</a>
    </nav>
  </div>
</header>