.btn {
  line-height: 0;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 1.5em 1.5em 1.5em;
  border: 1px solid $white;
  color: $white;
  transition: 0.3s;
  background-color: $black;
  @extend h5;
  @include grid-media-query(palm) {
    //border-width: 1px;
  }
  @include hover {
    background-color: $white;
    color: $black;
  }
  &:before {
    content: "> ";
  }
}

.bg-white {
  .btn {
    background-color: $white;
    border-color: $black;
    color: $black;
    @include hover {
      background-color: $black;
      color: $white;
    }
  }
}
