.btn {
  line-height: 0;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 1.2em 1.5em 1.2em;
  box-shadow: $box-shadow;
  margin-top: 0.3em; // to account for shadow

  margin-bottom: 0.5rem; // to account for shadow
  border: $border;
  transition: 0.3s;
  background-color: $light;
  @include hover {
    transform: translateY(-0.2rem);
  }
}

.dark-mode {
  .btn {
    border: $border-light;
    background-color: $dark;
    box-shadow: $box-shadow-light;
  }
}
