<main id="error-page" class="pt-1">
  <h4>Page not found.</h4>
  <div class="scroll-container">
    <h1 class="text glitch left" glitch="404"><a href="/">404</a></h1>
  </div>
</main>

<script>
  document.onclick = function () {
    window.location = "/";
  }
</script>