<div class="top">
  <div class="grid ">
    <div class="grid__item one-whole pr-md">
      <h1>404 — Page Not Found</h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__item one-whole">
    <p><a href="/">Return Home</a></p>
  </div>
</div>