<main id="error-page" class="pt-4">
  <div class="scroll-container">
    <h4 class="glitch left mb-4 " glitch="404"><a href="/">404</a></h4>
  </div>
</main>

<script>
  document.onclick = function () {
    window.location = "/";
  }
</script>