<main id="about-page" class="styled-links mb-3">
  <div class="grid">
    <div class="grid__item desk--one-half mb-2">
      <h4>

        👋👋👋<br><br>

        I’m a visual + product designer and front-end developer based in San Francisco. I love crafting visual
        experiences
        and seeing them through to implementation.<br><br>

        Currently, I’m a visual designer at <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>.
        Previously,
        I’ve
        been at <a href="https://www.voxmedia.com/" target="_blank">Vox Media</a> and <a href="https://salesforce.com"
          target="_blank">Salesforce</a>.<br><br>

        I enjoy noodles, RPGs, and the color black.
      </h4>
    </div>
    <div class="grid__item desk--one-half">

      {{#with memes}}
      {{#each memes}}
      {{#unless hide}}

      <img style="width: 100%;" src="/images/memes/{{src}}" alt="{{title}}" title="{{title}}" class="mb-1">
      {{/unless}}
      {{/each}}
      {{/with}}
    </div>
  </div>



</main>