<main id="about-page" class="styled-links mb-3">
  <div class="grid">
    <div class="grid__item desk--one-half mb-2">
      <h4>

        I'm a visual + product designer and front-end developer from Long Beach, CA. I graduated from UC San
        Diego in 2019 with a degree in Human-Computer Interaction and a minor in Computer Science.</p>
        <br>
        I enjoy soup, RPGs, and the color black. ☻&#xFE0E</h4>
    </div>
    <div class="grid__item desk--one-half">

      {{#with memes}}
      {{#each memes}}
      {{#unless hide}}

      <img style="width: 100%;" src="/images/memes/{{src}}" alt="{{title}}" title="{{title}}" class="mb-1">
      {{/unless}}
      {{/each}}
      {{/with}}
    </div>
  </div>



</main>