<div class="grid mt-4 mb-4 portable--mt-3 portable--mb-3">
  <div class="grid__item">
    <h3 class="mb-3 portable--mb-2">Visual — Product — Front-End</h3>
    <h1 class="mb-3 portable--mb-2">Hello, my name is Emily! I’m a fourth year student at UC San Diego, pursuing a
      degree in
      Cognitive
      Science:
      Human-Computer Interaction and a minor in Computer Science.</h1>
    <h1 class="mb-3 portable--mb-2">
      Currently, I am Co-Creative Director of <a href="http://designatucsd.org" target="_blank">Design at UCSD</a> and
      the webmaster at <a href="http://asgraphicstudio.ucsd.edu" target="_blank">A.S. Graphic Studio</a>. This past
      summer I was a Visual Experience Design Intern at <a href="https://www.salesforce.com/" target="_blank">Salesforce</a>,
      which you can
      read about <a href="/salesforce">here</a>.
    </h1>
    <h1>
      Other things I do include playing Stardew Valley and consuming alarming amounts of seafood. Full disclosure: I
      support House Stark, Team Iron Man, and pineapple on pizza.</h1>
  </div>
</div>