<div class="top">
  <div class="grid ">
    <div class="grid__item">
      <h1>About</h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__item desk--one-half">
    <div id="about-photo"></div>
  </div>
  <div class="grid__item desk--one-half bio">
    <p>Hello, my name is Emily! I’m a fourth year student at UC San Diego, pursuing a degree in Cognitive Science:
      Human-Computer Interaction and a minor in Computer Science.</p>
    <p>
      Currently, I am <a href="http://asgraphicstudio.ucsd.edu" target="_blank">A.S. Graphic Studio</a>'s webmaster and
      <a href="https://designatucsd.org" target="_blank">Design at UCSD</a>'s web developer. This past summer I was a
      Visual Experience Design Intern at <a href="https://salesforce.com" target="_blank">Salesforce</a>, which you can
      read about on <a href="https://medium.com/design-at-ucsd/design-at-ucsd-students-reflect-on-summer-internships-53a0f7bca127"
        target="_blank">Medium.</a></p>
    <p>
      Other things I do include playing Stardew Valley and consuming alarming amounts of seafood. Full disclosure: I
      support House Stark, Team Iron Man, and pineapple on pizza. I'm also passionate about <a href="/personal">tv
        shows and colors</a>.</p>
  </div>

</div>