<main id="about-page" class="styled-links mb-3">
  <div class="grid">
    <div class="grid__item desk--one-half mb-2">
      <h2>

        Hi there! I'm a visual designer and front-end developer from Long Beach, CA. I graduated from UC San
        Diego in 2019 with a degree in Human-Computer Interaction and a minor in Computer Science.</p>
        <br>
        I enjoy noodle soups, RPGs, the color black, and hanging out with my <a
          href="https://www.instagram.com/rei.the.apex.predator/" target="_blank">cat</a>. ☻&#xFE0E
      </h2>
    </div>
    <div class="grid__item desk--one-half">

      {{#with memes}}
      {{#each memes}}
      {{#unless hide}}

      <img style="width: 100%;" src="/images/memes/{{src}}" alt="{{title}}" title="{{title}}" class="mb-1">
      {{/unless}}
      {{/each}}
      {{/with}}
    </div>
  </div>



</main>