<main id="contact-page" class="mt-2 mb-2">
  <div class="grid">
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">Email</h3>
      <h4>
        <p><a href="mailto:emilymylinh@gmail.com">emilymylinh@gmail.com</a></p>
      </h4>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">Resume</h3>
      <h4>
        <p><a href="https://drive.google.com/file/d/0B6dEoGhrXuYId0g0Nm5BR1ZYbTg/view"
            target="_blank">EmilyNguyen_resume.pdf</a></p>
      </h4>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">LinkedIn</h3>
      <h4>
        <p><a href="https://linkedin.com/in/emilymnguyen/" target="_blank">/emilymnguyen</a></p>
      </h4>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">Github</h3>
      <h4>
        <p><a href="https://github.com/emilynguyen" target="_blank">/emilynguyen</a></p>
      </h4>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">Instagram</h3>
      <h4>
        <p><a href="https://instagram.com/emlynguyen" target="_blank">@emlynguyen</a></p>
      </h4>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h3 class="asterisks">Dribbble</h3>
      <h4>
        <p><a href="https://dribbble.com/emilynguyen" target="_blank">/emilynguyen</a></p>
      </h4>
    </div>
  </div>
</main>