<!--

{{#with dev}}

<main id="dev-page" class="mt-2">
    {{#each projects}}

    <h2 class="dev-link">
        <a {{#if url}}href="{{url}}" {{else}}class="cursor-default " {{/if}} {{#if newWindow}}target="_blank"
            {{/if}}>{{title}}</a>
        {{#if img}}<img src="/images/{{img}}" alt="">{{/if}}
    </h2>
    {{/each}}
</main>

{{/with}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    var offset = 80;
    $('#dev-page .dev-link a').hover(function () {
        var $img = $(this).closest('.dev-link').find('img');
        $img.show();
        $(document).mousemove(function (e) {
            $img.css({ left: e.pageX + offset, top: e.pageY + offset });
        });
    }, function () {
        var $img = $(this).closest('.dev-link').find('img');
        $img.hide();
    });
</script>
-->