<div id="home-page">
  <canvas id="yellow">

  </canvas>

  <div class="top">
    <div class="grid lap-hide desk-hide">
      <div id="title" class="grid__item">
        <h1>Emily is a designer + developer.</h1>
      </div>
    </div>



    <div class="grid mb-md palm-hide">
      <div id="banner-container" class="grid__item ">
        <div id="banner">Emily is a designer + developer.</div>
      </div>
    </div>


    <!--
  <div class="grid palm-hide">
    <div id="currently" class="grid__item desk--one-half">
      <h4 class="mb-xs">Currently</h4>
      <p>Webmaster — <a href="http://asgraphicstudio.ucsd.edu/" target="_blank">A.S. Graphic Studio</a></p>
      <p>Web Developer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
    <div id="previously" class="grid__item desk--one-half pr-lg">
      <h4 class="mb-xs">Previously</h4>
      <p>Visual Experience Design Intern — <a href="https://www.salesforce.com/" target="_blank">Salesforce</a></p>
      <p>Visual + Brand Designer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
  </div>  -->
  </div>


  <!--
<div class="top">
  <div class="grid ">
    <div id="title" class="grid__item">
      <h1>Emily is a designer + developer.</h1>
    </div>
  </div>
</div>

-->



  <!--

<div class="grid">
  <div class="grid__item">
    <p class="mb-md ">Previously at <a href="https://www.salesforce.com/" target="_blank">Salesforce</a>.</p>
  </div>
</div> -->

  <div class="grid" id="work-block">
    {{#each gallery}}
    <div class="grid__item one-whole desk--one-third lap--one-half">
      {{> card}}
    </div>
    {{/each}}
  </div>

</div> <!-- /#home-page -->


<script>
  let waves = 6;

  function docify(str) {
    document.getElementsByClassName('banner').innerHTML = "";
    for (let i = 0; i < str.length; i++) {
      let el = document.createElement('div');
      let c = str.charAt(i);
      if (c === " ") {
        el.appendChild(document.createTextNode('\u00A0'));
      }
      else {
        el.appendChild(document.createTextNode(c));
      }

      el.setAttribute('data-phi', i * Math.PI / (10 - waves));
      el.style.transform = "";
      document.getElementById('banner').appendChild(el);
      console.log(el);
    }
    document.getElementById('banner').appendChild(document.createElement('br'));
  }

  let omeg = 0.6,
    ampl = 5,
    wrap = document.getElementById('banner'),
    time = 0;

  function anim() {

    if (omeg * time > 2 * Math.PI) {
      time = 0;
    }
    for (let k = 0; k < wrap.childNodes.length; k++) {
      let elem = wrap.childNodes[k];
      let phi = elem.getAttribute('data-phi');
      elem.style.transform = 'translateY(' + ampl * Math.sin(omeg * time + phi / 2) + 'px)';
    }
    time += 6 / 100;
    requestAnimationFrame(anim);
  };

  wrap.innerHTML = "";

  var wavytext = 'Emily is a designer + developer.';

  docify(wavytext);
  anim();

</script>

<!--
<script src="/scripts/granim.min.js"></script> -->
<script>

  /*
  var granimInstance = new Granim({
  element: '#yellow',
  direction: 'left-right',
  isPausedWhenNotInView: true,
  states: {
  "default-state": {
  gradients: [
  ['#22E787', '#22E787'],
  ['#3D5AFE', '#3D5AFE'],
  ['#F85C5C', '#F85C5C'],
  ['#7B56FF', '#7B56FF']
  ]
  }
  }
  });

  var granimInstance = new Granim({
  element: '#yellow',
  direction: 'left-right',
  isPausedWhenNotInView: true,
  states: {
  "default-state": {
  gradients: [
  ['#EAA7A3', '#E27975'],
  ['#E27975', '#8485D8'],
  ['#8485D8', '#EAA7A3']
  ]
  }
  }
  }); */
</script>