<div id="home-page">

  <div class="grid" id="work-block">
    {{#each gallery}}
    <div class="grid__item one-whole desk--one-third lap--one-half">
      {{> card}}
    </div>
    {{/each}}
  </div>
</div> <!-- /#home-page -->

<script>
  let waves = 6;

  function docify(str) {
    document.getElementsByClassName('banner').innerHTML = "";
    for (let i = 0; i < str.length; i++) {
      let el = document.createElement('div');
      let c = str.charAt(i);
      if (c === " ") {
        el.appendChild(document.createTextNode('\u00A0'));
      }
      else {
        el.appendChild(document.createTextNode(c));
      }

      el.setAttribute('data-phi', i * Math.PI / (10 - waves));
      el.style.transform = "";
      document.getElementById('banner').appendChild(el);
      console.log(el);
    }
    document.getElementById('banner').appendChild(document.createElement('br'));
  }

  let omeg = 0.6,
    ampl = 5,
    wrap = document.getElementById('banner'),
    time = 0;

  function anim() {

    if (omeg * time > 2 * Math.PI) {
      time = 0;
    }
    for (let k = 0; k < wrap.childNodes.length; k++) {
      let elem = wrap.childNodes[k];
      let phi = elem.getAttribute('data-phi');
      elem.style.transform = 'translateY(' + ampl * Math.sin(omeg * time + phi / 2) + 'px)';
    }
    time += 6 / 100;
    requestAnimationFrame(anim);
  };

  wrap.innerHTML = "";

  var wavytext = 'Emily is a designer + developer.';

  docify(wavytext);
  anim();

</script>


<script src="/scripts/granim.min.js"></script>
<script>
  /*
  var granimInstance = new Granim({
    element: '#yellow',
    direction: 'left-right',
    isPausedWhenNotInView: true,
    states: {
      "default-state": {
        gradients: [
          ['#EF675E', '#EF675E'],
          ['#5E94EF', '#5E94EF'],
          ['#5EEFD2', '#5EEFD2'],
          ['#5E65EF', '#5E65EF']
        ]
      }
    }
  });
*/

  /*
    var granimInstance = new Granim({
      element: '#yellow',
      direction: 'left-right',
      isPausedWhenNotInView: true,
      states: {
        "default-state": {
          gradients: [
  
            ['#F7DDDB', '#F7DDDB'],
            ['#cfe3f1', '#cfe3f1'],
            ['#cbc9e8', '#cbc9e8']
          ]
        }
      }
    }); */
  var granimInstance = new Granim({
    element: '#bg',
    direction: 'left-right',
    isPausedWhenNotInView: true,
    states: {
      "default-state": {
        gradients: [
          ['#fcd1d6', '#F7DDDB'],
          ['#F7DDDB', '#cfe3f1'],
          ['#cfe3f1', '#cbc9e8'],
          ['#cbc9e8', '#fcd1d6']
        ]
      }
    }
  });

</script>