<div class="top">
  <div class="grid lap-hide desk-hide">
    <div id="palm-banner" class="grid__item pr-md">
      <h1>Emily is a designer + developer.</h1>
    </div>

  </div>
  <div class="grid palm-hide">
    <div id="currently" class="grid__item desk--one-half">
      <h4 class="mb">Currently</h4>
      <p>Webmaster — <a href="http://asgraphicstudio.ucsd.edu/" target="_blank">Associated Students Graphic Studio</a></p>
      <p>Web Developer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
    <div id="previously" class="grid__item desk--one-half pr-lg">
      <h4 class="mb">Previously</h4>
      <p>Visual Experience Design Intern — <a href="https://www.salesforce.com/" target="_blank">Salesforce</a></p>
      <p>Visual + Brand Designer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
  </div>
</div>

<!--
<div class="grid mb-md">
  <div class="grid__item one-whole">
    <h4>View My Work ↓</h4>
  </div>
</div> -->

<div class="grid mb-lg palm-hide">
  <div class="grid__item ">
    <div id="banner">Emily is a designer + developer.</div>
  </div>
</div>

{{#with projects}}
<div class="grid" id="work-block">
  <div class="grid__item one-whole desk--one-third">
    <h1 class="mb">Work</h1>
    <ul id="filters">
      <li class="active">
        <h4>All Work</h4>
      </li>
      <li>
        <h4>Visual</h4>
      </li>
      <li>
        <h4>Dev</h4>
      </li>
      <li>
        <h4>Product</h4>
      </li>
    </ul>
  </div>
  <div class="grid__item palm-hide desk--one-third portable--one-half">
    {{#each projects}}
    {{#unless archive}}
    {{#unless private}}
    {{#if_eq col 1}}
    {{> card}}
    {{/if_eq}}
    {{/unless}}
    {{/unless}}
    {{/each}}
  </div>
  <div class="grid__item palm-hide desk--one-third portable--one-half">
    {{#each projects}}
    {{#unless archive}}
    {{#unless private}}
    {{#if_eq col 2}}
    {{> card}}
    {{/if_eq}}
    {{/unless}}
    {{/unless}}
    {{/each}}
  </div>
  <div class="grid__item one-whole desk-hide lap-hide">
    {{#each projects}}
    {{#unless archive}}
    {{#unless private}}
    {{> card}}
    {{/unless}}
    {{/unless}}
    {{/each}}
  </div>
</div>
{{/with}}


<script>
  let waves = 6;

  function docify(str) {
    document.getElementsByClassName('banner').innerHTML = "";
    for (let i = 0; i < str.length; i++) {
      let el = document.createElement('div');
      let c = str.charAt(i);
      if (c === " ") {
        el.appendChild(document.createTextNode('\u00A0'));
      }
      else {
        el.appendChild(document.createTextNode(c));
      }

      el.setAttribute('data-phi', i * Math.PI / (10 - waves));
      el.style.transform = "";
      document.getElementById('banner').appendChild(el);
      console.log(el);
    }
    document.getElementById('banner').appendChild(document.createElement('br'));
  }

  let omeg = 0.6,
    ampl = 5,
    wrap = document.getElementById('banner'),
    time = 0;

  function anim() {

    if (omeg * time > 2 * Math.PI) {
      time = 0;
    }
    for (let k = 0; k < wrap.childNodes.length; k++) {
      let elem = wrap.childNodes[k];
      let phi = elem.getAttribute('data-phi');
      elem.style.transform = 'translateY(' + ampl * Math.sin(omeg * time + phi / 2) + 'px)';
    }
    time += 6 / 100;
    requestAnimationFrame(anim);
  };

  wrap.innerHTML = "";

  var wavytext = 'Emily is a designer + developer.';

  docify(wavytext);
  anim();

</script>