<div id="yellow">

</div>

<div class="top">
  <div class="grid lap-hide desk-hide">
    <div id="title" class="grid__item">
      <h1>Emily is a designer + developer.</h1>
    </div>
  </div>



  <div class="grid mb-md palm-hide">
    <div id="banner-container" class="grid__item ">
      <div id="banner">Emily is a designer + developer.</div>
    </div>
  </div>


  <!--
  <div class="grid palm-hide">
    <div id="currently" class="grid__item desk--one-half">
      <h4 class="mb-xs">Currently</h4>
      <p>Webmaster — <a href="http://asgraphicstudio.ucsd.edu/" target="_blank">A.S. Graphic Studio</a></p>
      <p>Web Developer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
    <div id="previously" class="grid__item desk--one-half pr-lg">
      <h4 class="mb-xs">Previously</h4>
      <p>Visual Experience Design Intern — <a href="https://www.salesforce.com/" target="_blank">Salesforce</a></p>
      <p>Visual + Brand Designer — <a href="https://designatucsd.org/" target="_blank">Design at UCSD</a></p>
    </div>
  </div>  -->
</div>


<!--
<div class="top">
  <div class="grid ">
    <div id="title" class="grid__item">
      <h1>Emily is a designer + developer.</h1>
    </div>
  </div>
</div>

-->



<!--

<div class="grid">
  <div class="grid__item">
    <p class="mb-md ">Previously at <a href="https://www.salesforce.com/" target="_blank">Salesforce</a>.</p>
  </div>
</div> -->

<div class="grid" id="work-block">
  <!-- Desk 3 col gallery -->
  <div class="grid__item desk--one-third portable-hide">
    {{#each gallery}}
    {{#if_mod 3 0}}
    {{> card}}
    {{/if_mod}}
    {{/each}}
  </div>
  <div class="grid__item desk--one-third portable-hide">
    {{#each gallery}}
    {{#if_mod 3 1}}
    {{> card}}
    {{/if_mod}}
    {{/each}}
  </div>
  <div class="grid__item desk--one-third portable-hide">
    {{#each gallery}}
    {{#if_mod 3 2}}
    {{> card}}
    {{/if_mod}}
    {{/each}}
  </div>
  <!-- Portable 2 col gallery -->
  <div class="grid__item lap--one-half palm-hide desk-hide">
    {{#each gallery}}

    {{#if_mod 2 0}}
    {{> card}}
    {{/if_mod}}

    {{/each}}
  </div>
  <div class="grid__item lap--one-half palm-hide desk-hide">
    {{#each gallery}}

    {{#if_mod 2 1}}
    {{> card}}
    {{/if_mod}}

    {{/each}}
  </div>
  <!-- Palm 1 col gallery -->
  <div class="grid__item lap-hide desk-hide">
    {{#each gallery}}

    {{> card}}

    {{/each}}
  </div>
</div>



<script>
  let waves = 6;

  function docify(str) {
    document.getElementsByClassName('banner').innerHTML = "";
    for (let i = 0; i < str.length; i++) {
      let el = document.createElement('div');
      let c = str.charAt(i);
      if (c === " ") {
        el.appendChild(document.createTextNode('\u00A0'));
      }
      else {
        el.appendChild(document.createTextNode(c));
      }

      el.setAttribute('data-phi', i * Math.PI / (10 - waves));
      el.style.transform = "";
      document.getElementById('banner').appendChild(el);
      console.log(el);
    }
    document.getElementById('banner').appendChild(document.createElement('br'));
  }

  let omeg = 0.6,
    ampl = 5,
    wrap = document.getElementById('banner'),
    time = 0;

  function anim() {

    if (omeg * time > 2 * Math.PI) {
      time = 0;
    }
    for (let k = 0; k < wrap.childNodes.length; k++) {
      let elem = wrap.childNodes[k];
      let phi = elem.getAttribute('data-phi');
      elem.style.transform = 'translateY(' + ampl * Math.sin(omeg * time + phi / 2) + 'px)';
    }
    time += 6 / 100;
    requestAnimationFrame(anim);
  };

  wrap.innerHTML = "";

  var wavytext = 'Emily is a designer + developer.';

  docify(wavytext);
  anim();

</script>