$modern-era: "Modern Era", Avenir, Helvetica, sans-serif;
$modern-era-mono: "Modern Era Mono", Menlo, monospace;
$modern-era-mono: "Modern Era Mono", Menlo, monospace;

$spacer-1: 1.5rem;
$spacer-2: 3rem;
$spacer-3: 6rem;
$spacer-4: 12rem;

$body-font-size: 1.5rem;

$huge: 2400px;
$big: 1800px;

//$black: #111;
$black: #141414;
$gray: #f8f8f8;

$footer-height-palm: calc(#{$spacer-2 + $body-font-size});
$footer-height: calc(#{$spacer-3 + $body-font-size});

$top-bottom-space: 6vw;

$side-margin: 6%;
