$circular: "Circular", Helvetica, sans-serif;
$freightBig: "Freight Big Pro", "Caslon", serif;

$space-xs: 0.5rem;
$space: 2rem;
$space-md: 5rem;
$space-lg: 12rem;

$huge: 2400px;

$yellow: #feff8c; // highlighter
$yellow: #fff399;
//$yellow: #fff56e;
$black: #000;
$black: #222;

$red: #ef675e;

$footer-height-palm: calc(7rem + 5vw); //Palm
$footer-height-lap: calc(3rem + 5vw); // Lap
$footer-height-desk: 8vw; // Desk
