html,
body {
  position: relative;
}

html {
  cursor: $default;
  overflow-x: hidden;
  height: 100%;
}

a {
  cursor: $pointer;
}

body {
  min-height: 100%;
  color: $dark;
  background-color: $light;
}

.dark-mode {
  cursor: $default-dark;
  body {
    color: $light;
    background-color: $dark;
  }
  a {
    cursor: $pointer-dark;
  }
}

#content {
  margin-right: auto;
  margin-left: auto;
  // padding: 0 $side-margin;
  max-width: $content-width;
  padding: $side-margin;
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  /* Set the hr color */
  color: $dark; /* old IE */
  background-color: $dark; /* Modern Browsers */
}

.dark-mode {
  hr {
    color: $light;
    background-color: $light;
  }
}

.opacity-hover {
  transition: opacity 0.3s;
  @include hover {
    opacity: $translucent;
  }
}

/* NOTE: add class left or right and glitch attr */
.glitch {
  animation: glitch 0.7s linear infinite;
  // animation: glitch 10s linear infinite;

  position: relative;
  &:before,
  &:after {
    content: attr(glitch);
    position: absolute;
    // left: 0;
    top: 0;
  }
  &.left {
    &:before,
    &:after {
      left: 0;
    }
  }
  &.right {
    &:before,
    &:after {
      right: 0;
    }
  }
  &:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  &:after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
}

/*
$distance: 0.02em;
$distance-translate: 0.16em;
$distance-translate-tb: 0.02em;
*/
$distance: 10px;
$distance-translate: 10px;
$distance-translate-tb: 10px;

@keyframes glitch {
  2%,
  64% {
    transform: translate($distance-translate, 0) skew(0deg);
    text-shadow: $distance 0 0 $magenta, -$distance 0 0 $green;
  }
  4%,
  60% {
    transform: translate(-$distance-translate, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
    text-shadow: $distance 0.5px 1px $magenta, -$distance -0.5px 2px $green;
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate($distance-translate-tb, -$distance-translate-tb);
    text-shadow: $distance 0 0 $magenta, -$distance 0 0 $green;
  }
  4%,
  60% {
    transform: translate(-$distance-translate-tb, $distance-translate-tb);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
    text-shadow: $distance 0.5px 1px $magenta, -$distance -0.5px 2px $green;
  }
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-$distance-translate-tb, 0);
    text-shadow: $distance 0 0 $magenta, -$distance 0 0 $green;
  }
  4%,
  60% {
    transform: translate(-$distance-translate-tb, 0);
  }
  62% {
    transform: translate(-13px, 5px) skew(21deg);
    text-shadow: $distance 0.5px 1px $magenta, -$distance -0.5px 2px $green;
  }
}

@keyframes glitchBlock {
  2%,
  64% {
    transform: translate($distance-translate, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-$distance-translate, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
