@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/Ogg-Roman.eot");
  src: url("../fonts/ogg/Ogg-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ogg/Ogg-Roman.woff2") format("woff2"),
    url("../fonts/ogg/Ogg-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("../fonts/apercu/Apercu-Mono.eot");
  src: url("../fonts/apercu/Apercu-Mono.eot?#iefix") format("embedded-opentype"),
    url("../fonts/apercu/Apercu-Mono.woff2") format("woff2"),
    url("../fonts/apercu/Apercu-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
