/*
 * Typography
 */

html {
  // font-size: 20px;
  font-size: 18px;
  @include grid-media-query(portable) {
    font-size: calc(10px + 1vw);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $mabry;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
}

h3,
h4,
h5,
h6,
p {
  @include grid-media-query(portable) {
    line-height: 1.3;
  }
}

li {
  line-height: 1.2em;
  @include grid-media-query(portable) {
    line-height: 1.3em;
  }
}

h1 {
  text-transform: none !important;
  font-size: 4rem;
  text-align: justify;
}

h2 {
  font-size: 2.7rem;
}

#work-page {
  h2 {
    text-align: justify;
  }
}

.date {
  font-weight: normal;
}

h1,
h2 {
  font-family: $mabry-mono;
  //font-weight: bold;
  line-height: 1.15;
  // font-size: 3rem; // 72px
  // font-size: 2.6rem;

  @include grid-media-query(palm) {
    font-size: 2rem;
  }
}

#project-page {
  h1 {
    margin-top: -0.1em;
  }
}

h3 {
  font-family: $mabry;
}

h3 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
}

h3,
h4 {
  // font-size: 1.5rem;
  font-size: 1.4rem;
}

h5 {
  font-size: 0.75rem;
  // font-size: 0.65rem;
}

.parentheses {
  @include parentheses;
}

.asterisks {
  @include asterisks;
}

a {
  font-family: $mabry-mono;
  color: inherit;
  text-decoration: none;
  //font-style: italic;
  font-weight: normal;
}

p,
.styled-links {
  a:not(.btn) {
    display: inline-block;
    &:after {
      content: "↗";
      // content: "☜";
      //content: "●";
    }
    @include hover {
      color: $light;
      background-color: $dark;
    }
  }
}

.dark-mode {
  p,
  .styled-links {
    a:not(.btn) {
      @include hover {
        color: $dark;
        background-color: $light;
      }
    }
  }
}

ul {
  list-style: none;
}

$styled-li-indent: 1ch;
.styled-lists {
  li {
    margin-left: $spacer-2;
    margin-left: $styled-li-indent * 2;
    padding-left: $styled-li-indent;
    text-indent: -$styled-li-indent;
    &:before {
      content: "*";
      display: inline-block;
      width: $styled-li-indent;
    }
    &:not(:last-of-type) {
      margin-bottom: $spacer-1;
    }
  }
}

ol {
  list-style-type: decimal-leading-zero;
}

::selection {
  background: rgba(0, 0, 0, 0.99);
  color: $light;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.99);
  color: $light;
}

.dark-mode {
  ::selection {
    background: rgba(252, 250, 247, 0.99);
    color: $dark;
  }
  ::-moz-selection {
    background: rgba(252, 250, 247, 0.99);
    color: $dark;
  }
}
