#close-all-btn {
  position: fixed;
  top: $side-margin;
  right: $side-margin;
  cursor: $pointer;
  z-index: 99999;
  display: none;
}

$bar-height: 1.8em;

.popup {
  position: fixed;
  background-color: $light;
  border: $border;
  z-index: 100;
  transition: transform 0.3s;
  box-shadow: $box-shadow;
  .bar {
    border-bottom: $border;
    height: $bar-height;
    text-align: center;
    //  line-height: $bar-height;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  .close {
    border-left: $border;
    height: 100%;
    width: $bar-height;
    position: absolute;
    right: 0;
    top: 0;
    cursor: $pointer;
    @include hover {
      background-color: $dark;
      color: $light;
    }
  }
  img {
    width: 15rem;
  }
  &:not(.bio) {
    line-height: 0;
    transform: scale(1);
    &.closed {
      transform: scale(0);
    }
  }
  &.bio {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 30rem;
    max-width: calc(100vw - #{$side-margin * 2});
    z-index: 101;
    .text {
      background-color: $light;
      color: $dark;
      width: 100%;
      height: 100%;
      padding: $spacer-1;
      box-sizing: border-box;
      p:not(:last-of-type) {
        margin-bottom: $spacer-1;
      }
      p:last-of-type {
        &:after {
          content: "|";
          display: inline-block;
          animation: 1s blink step-end infinite;
        }
      }
    }
    &.closed {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.dark-mode {
  .popup {
    background-color: $dark;
    border: $border-light;
    //box-shadow: $box-shadow-light;
    @include box-shadow;
    .bar {
      border-bottom: $border-light;
    }
    .close {
      border-left: $border-light;
      cursor: $pointer-dark;
      @include hover {
        background-color: $light;
        color: $dark;
      }
    }
    &.bio {
      .text {
        background-color: $dark;
        color: $light;
      }
    }
  }
}

@keyframes "blink" {
  from,
  to {
    // color: transparent;
    opacity: 0;
  }
  50% {
    // color: black;
    opacity: 1;
  }
}
