#design-page {
  img {
    width: 100%;
    @include hover {
      animation: glitchBlock 1s linear infinite;
    }
  }
  .project {
    &:not(:last-child) {
      margin-bottom: $spacer-3;
      @include grid-media-query(desk) {
        margin-bottom: $spacer-4;
      }
    }
  }
  h2 {
    @include removeTop($ogg-header-line-height);
    @include removeBottom($ogg-header-line-height);
  }
}
