#home-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  // reset margin on main
  margin: 0 !important;

  @include grid-media-query(palm) {
    // height: auto;
    // display: block;
    //padding-top: $spacer-1;
  }
}

#landing {
  display: none;
  position: absolute;
  background-color: $black;
  // outside padding

  z-index: 9999;
  width: 100%;
  @include grid-media-query(lap-up) {
    padding: 0 4rem;
    margin-left: -4rem;
  }
  .close-landing-btn {
    text-align: right;
    span {
      &:before {
        content: ">";
        position: absolute;
        left: 0;
      }
    }
  }
}
nav {
  width: 100%;
  text-align: right;

  ul {
    list-style: none;
  }
  li {
    margin-left: 0;
    .nav-item {
      // optically equal line-height on nav list
      padding: $nav-item-padding 0;
      text-transform: lowercase;
      @extend .right;
    }
    &.active {
      .nav-item {
        @extend .glitch;
      }
      span:not(.meme-btn-text):before {
        content: ">";
        position: absolute;
        left: 0;
      }
    }
  }
  .open-landing-btn {
  }
}
