@font-face {
  font-family: "Modern Era Mono";
  src: url("../fonts/ModernEraMono-Bold.woff2") format("woff2"),
    url("../fonts/ModernEraMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Modern Era";
  src: url("../fonts/ModernEra-Regular.woff2") format("woff2"),
    url("../fonts/ModernEra-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Modern Era";
  src: url("../fonts/ModernEra-Medium.woff2") format("woff2"),
    url("../fonts/ModernEra-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
