/*
 * Typography
 */

html {
  font-size: 62.5%;
  @include grid-media-query("palm") {
    font-size: 51%;
  }
  @media (min-width: $huge) {
    font-size: 0.45vw;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $graphik;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 170%;
  letter-spacing: 0;
  color: $black;
}

.blockquote {
  font-size: 2rem;
  font-style: italic;
  line-height: 150%;
}

.small-text {
  font-size: 80%;
  font-style: italic;
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}

.title-pr {
  padding-right: $space;
  @include grid-media-query("portable") {
    padding-right: $space-md;
  }
  @include grid-media-query("desk") {
    padding-right: $space-lg;
  }
}

h1 {
  /*
  font-family: $freightBig;
  font-weight: 900;
  font-size: 8rem;
  line-height: 100%; 
  margin-top: -1rem; */
  font-family: $graphik;
  font-weight: 500;
  font-size: 7.5rem;
  line-height: 110%;
  letter-spacing: -0.1rem;
  @extend .title-pr;
  @include grid-media-query("palm") {
    font-size: 5.5rem;
  }
  @include grid-media-query("lap") {
    font-size: 5.5rem;
  }
  @include grid-media-query("desk") {
    letter-spacing: -0.2rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 135%;
}

h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: underline;
  @include hover {
    text-decoration: none;
  }
}

#nav-name,
.card {
  a {
    text-decoration: none;
  }
}

nav {
  //line-height: 0;
  a {
    text-decoration: none;
    &.active {
      font-style: italic;
      font-weight: 300;
    }
    @include hover {
      font-style: italic;
      font-weight: 300;
      line-height: 100%;
    }
  }
}
