footer {
  position: absolute;
  bottom: $side-margin;
  left: $side-margin;
  // new
  width: 100%;
  max-width: calc(#{$content-width} + #{$side-margin});
  right: 0;
  margin: auto;
  left: 0;
  padding-left: $side-margin;
}

#footer-container {
}
