#contact-page {
  .hover {
    h1 {
      font-size: 4.5vw;
    }
  }
  .nohover {
    h1 {
      //margin-bottom: $spacer-1;
    }
  }
  @media (hover: hover) {
    .hover {
      display: block !important;
    }
    .nohover {
      display: none;
    }
  }
}
