.project-page {
  p,
  ul,
  ol {
    @extend .mb;
    margin-bottom: 3rem;
    color: var(--text);
  }
}

.project-content {
  img {
    width: 100%;
  }
  .description {
    @include grid-media-query("portable") {
      margin-bottom: $space-md;
      margin-bottom: $space;
    }
  }
}

.text {
  img {
    display: block;
    margin: $space 0;
  }
}

.block {
  h2 {
    margin-bottom: 2.7rem;
    //font-size: 3rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    ul,
    ol {
      margin-top: $space;
    }
  }
  li {
    margin-left: $space-md;
    padding-right: 1rem;
    span {
      position: relative;
      left: 1rem;
    }
    @include grid-media-query("palm") {
      margin-left: 4rem;
      padding-right: 0.5rem;
      span {
        left: 0.5rem;
      }
    }
  }
  &.has-title {
    @include grid-media-query("portable") {
      //margin-top: $space-md;
      margin-top: 5.5rem;
    }
    @include grid-media-query("desk") {
      //margin-top: $space-lg;
      margin-top: 8rem;
    }
  }
}

.pdf {
  width: 100%;
  max-height: 60rem;
  height: 50vh;
  @include grid-media-query("palm") {
    height: 40vh;
  }
}

.image-link {
  @include shrink-on-hover;
}

.swatches {
  //  display: flex;
  //justify-content: space-around;
  width: 100%;
}
.swatch {
  display: inline-block;
  //border: 1px solid var(--text);
  width: 100%;
  height: 15rem;

  text-align: center;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: $space;
  }
  .hex {
    //  font-size: 200%;
    //font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
