#project-page {
  img,
  iframe {
    width: 100%;
    display: block;
    &.border {
      border: 1px solid rgba(0, 0, 0, 0.07);
    }
  }
  iframe {
    background-color: $gray;
    height: 60vw;
    max-height: 60rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  }
  p,
  ol,
  ul {
    &:not(:last-child) {
      margin-bottom: $spacer-1;
    }
  }
  h1 {
    &:not(:last-child) {
      @extend .mb-2;
    }
  }
}

.back-arrow {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  display: inline-block;
}

@keyframes bounce {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1rem);
  }
}
