header {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

nav {
  white-space: nowrap;
}

header,
footer {
  a {
    &.active {
      opacity: 0.4;
    }
    @include hover {
      opacity: 0.4;
    }
  }
}

$circle-diameter: 0.9rem;

#name {
  margin-left: $circle-diameter * 1.8;
  position: relative;
  &:before {
    position: absolute;
    left: -$circle-diameter * 1.8;
    content: "";
    top: 0.1rem;
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: $circle-diameter;
    border: 0.1rem solid $black;
    @include grid-media-query(palm) {
      border-width: 1px;
      top: 0.1rem;
    }
  }
  @include hover {
    opacity: 1;
    &:before {
      background-color: $black;
    }
  }
}

.bg-black {
  #name {
    &:before {
      //border: 1px solid $black;
      border-color: #fff;
    }
    @include hover {
      &:before {
        background-color: #fff;
      }
    }
  }
}
